header {
    background-color:gainsboro
}

h1 {
    text-align: center;
    font-size: 50px;
}

.imagem {
    text-align: center;
}

.botoes {
    text-align: center;
}

.button {
    font-size: 20px;
    border-radius: 5px;
}

p {
    text-align: center;
    font-size: 30px;
}
